<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlogZilla</title>
    <%- include('../components/stylesheets.ejs') %>
  </head>
  <body>
    <%- include('../components/navbar.ejs') %> 
    <div class="container">
      <%- include('../components/flash.ejs') %>
      <%- body %> 
    </div>
    <%- include('../components/footer.ejs') %>
    <%- include('../components/scripts.ejs') %>
  </body>
</html>